<div>
    {{{ userName }}}
    {{{ button }}}
</div>

{{!-- Обратите внимание, что во многих шаблонизаторах значение по умолчанию интерпретируется как строка, а не как HTML-код. Это сделано в целях безопасности, чтобы избежать атак вроде XSS. Поэтому необходимо указать шаблонизатору, что значение нужно интерпретировать как HTML. Например, в Handlebars это можно сделать с помощью triple-stash: {{{ button }}}. --}}