<main>
    <nav>
        <ol class="mainpage-links">
            {{{links}}}
        </ol>
    </nav>
</main>
<main class="main">
    <div class="settings-container">
        {{{Form}}}
        <nav class="navigation">
            {{{Button}}}
            <ul class="navigation-list">
                <li class="navigation-list_link">
                    <a href="" class="link" page="">Изменить пароль</a>
                </li>
                <li class="navigation-list_link">
                    <a
                       href=""
                       class="link exit"
                       page="login">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</main>