{{!-- <div class="chat-page">
    <a href="#signin">login</a>
    <img src="../../assets/badger_1.png" alt=""/>
</div> --}}

<div class="chat-page">
    {{#each (chat-page-list)}} 
        <div>
            <img src="{{avatar}}" alt="">
        </div>
    {{/each}}
  {{> Link page="LoginPage" text="Назад к логину"}}
</div>
