<div class="modal {{#ifEquals size "small"}}modal_small{{/ifEquals}}" data-modal-type="{{dataModalType}}">
    <div class="modal__bg"></div>
    <div class="modal__wrapper">
        {{> @partial-block }}
    </div>
</div>