<div class="avatar {{#if profileAvatar}} avatar-profile{{/if}} {{#if className}} {{className}}{{/if}}">
    <img alt="Аватар." src="{{{src}}}" onerror="this.src='{{fallbackSrc}}'">
    {{#if profileAvatar}}
    <div class="avatar-profile__action" data-modal="change-avatar">
        Поменять<br>аватар
    </div>
    {{/if}}
</div>
