<div class="avatar {{#if profileAvatar}} avatar-profile{{/if}}">
    <img src="{{src}}" alt="Аватар">
    {{#if profileAvatar}}
    <div class="avatar-profile__action">
        Поменять<br>аватар
    </div>
    {{/if}}
</div>