<div class="avatar {{#if profileAvatar}} avatar-profile{{/if}} {{#if className}} {{className}}{{/if}}">
    <img src="{{src}}" alt="Аватар">
    {{#if profileAvatar}}
    <div class="avatar-profile__action" data-modal="change-avatar">
        Поменять<br>аватар
    </div>
    {{/if}}
</div>
